.moto-transport {
  padding-top: 32px;
}
.moto-transport__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}
@media (max-width: 1024px) {
  .moto-transport__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .moto-transport__list {
    grid-gap: 16px;
  }
}
@media (max-width: 375px) {
  .moto-transport__list {
    grid-gap: 8px;
  }
}
@media (max-width: 320px) {
  .moto-transport__list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 8px;
  }
}
.moto-transport__item {
  cursor: pointer;
  display: block;
  background: var(--color-bg_gray);
  border: 1px solid transparent;
  border-radius: 8px;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding-top: 32px;
  padding-left: 24px;
}
.moto-transport__item:hover {
  background: #fff;
  border: 1px solid #f3f3f3;
  -webkit-box-shadow: 0px 24px 32px rgba(45, 49, 65, 0.24);
  box-shadow: 0px 24px 32px rgba(45, 49, 65, 0.24);
  -webkit-transform: translateY(-16px);
  -ms-transform: translateY(-16px);
  transform: translateY(-16px);
}
.moto-transport__item:hover .moto-transport__item--arrow {
  width: 52px;
  height: 52px;
  background: var(--color-primary);
  color: #fff;
}
.moto-transport__item--img {
  max-width: 100%;
  height: auto;
  margin-bottom: 32px;
}
.moto-transport__item--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 24px 24px 0;
}
.moto-transport__item--name {
  color: var(--color-body);
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}
.moto-transport__item--arrow {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  color: var(--color-primary);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1024px) {
  .moto-transport__item--img {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .moto-transport__item {
    padding-top: 24px;
  }
  .moto-transport__item:hover {
    background: var(--color-bg_gray);
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .moto-transport__item--arrow {
    display: none;
  }
  .moto-transport__item--img {
    margin-bottom: 16px;
  }
  .moto-transport__item--name {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .moto-transport {
    padding-top: 0;
  }
  .moto-transport__item {
    padding: 16px;
  }
  .moto-transport__item--footer {
    padding: 0;
  }
}
@media (max-width: 320px) {
  .moto-transport__item {
    padding: 16px;
  }
}
/*# sourceMappingURL=03_moto-transport.css.map */